name: Release Please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  release-please:
    permissions:
      contents: write
      pull-requests: write
      issues: write
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4.2.0
        with:
          release-type: simple
          token: ${{ secrets.GITHUB_TOKEN }}
